*,button{
    cursor: none;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    height: 10vh;
    width: 100vw;
    background-color: white;
    -webkit-box-shadow: rgba(230, 230, 230, 0.5) 0px 10px 10px;
            box-shadow: rgba(230, 230, 230, 0.5) 0px 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom :20vh;
  }
  
  .navbar .logo {
    width: 6.5rem;
    transition-duration: 0.3s;
  }
  .logo:hover{
      
    background-color: #CCE1FF; 
  }
  
  .navbar .menu-items ul {
    width: 40vw;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar .menu-items ul a {
    color: #002456;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    padding: 10px; 
}

.navbar .menu-items ul a:hover {
    background-color: #CCE1FF; 
    cursor: none;
  }
  
 
.cursor {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 10;
    background-color: rgba(248, 248, 255, 0.219);
    border: 2px solid rgba(54, 54, 54, 0.897);
    border-radius: 25px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  
  .cursor .inside-cursor {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    position: relative;
    top: 38%;
    left: 37%;
    -webkit-animation: rotate 1s infinite;
            animation: rotate 1s infinite;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    25% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    50% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    75% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    100% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    25% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    50% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    75% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
    100% {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
    }
  }