<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
 	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login_register.css') }}">
     <style>
        body{background-color: #002456 ;}

        .main-card{
            box-shadow: 20px 22px 32px #7099ff9a;
        }
        
        .right{
            background-color: #5680e95e;
        }
    </style>

    <title>Register</title>
</head>
<body>
    
    <div class="main-card container  p-4 mt-5" >

        <div class="inside-main-card container-fluid  row">

            <div class="left  col-6   ">

                <form action="{{ url_for('register') }}"  method="POST" class="form">

                    <h1 class="login-register">Register</h1>

                    <input type="text" name="username" class="form-control mt-4" id="name" placeholder="Name">
                    <input type="text" name="email" class="form-control mt-4" id="email" placeholder="E-Mail">
                    <input type="password" name="password" class="form-control mt-4" id="password" placeholder="Password">
                    <div class="d-flex">
                        <button type="submit" class="btn submit-btn mt-4 mx-auto text-center">Let's Go !!</button>
                    </div>
                    <h3>{{msg}}</h3>
                    <p class="lead mt-2">Already A User? <a href="{{ url_for('login') }}" >Login Here !</a></p>
                    <p class="lead" style="font-size: small;"> you agree to all the terms and condtions by registering</p>
                </form>

            </div>

            <div class="right col-5 offset-1  ">

                <img src="../static/images/shapes1.png" alt="shapes" class="img-fluid" >

                <div class="description">
                    <h1 class="main-text">SUPER RESOLUTION</h1>
                    <p class="sub-text">SEE CLEARLY, SEE MORE</p>
                    
                </div>

            </div>

        </div>

    </div>



</body>
</html>